<a href="https://colab.research.google.com/github/lkostenko/sql_pracrice/blob/main/SQL_Practice_JOINs_and_Window_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 10.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector

In [ ]:
con = mysql.connector.connect(user='user1', password='7oygWy6P',
                              host='3.68.62.36',
                              database='employees')

In [ ]:
import warnings

warnings.filterwarnings('ignore')

1. Display a List of 10 Employees with Their Current Salary

In [ ]:
sql = """
SELECT e.emp_no, first_name, last_name, salary
FROM employees e join salaries s on e.emp_no = s.emp_no
where s.to_date = '9999-01-01'
limit 10
"""

In [ ]:
df = pd.read_sql(sql, con)
df

   emp_no first_name  last_name  salary
0   10001     Georgi    Facello   88958
1   10002    Bezalel     Simmel   72527
2   10003      Parto    Bamford   43311
3   10004  Chirstian    Koblick   74057
4   10005    Kyoichi   Maliniak   94692
5   10006     Anneke    Preusig   59755
6   10007    Tzvetan  Zielinski   88070
7   10009     Sumant       Peac   94409
8   10010  Duangkaew   Piveteau   80324
9   10012   Patricio  Bridgland   54423

2. Display a List of 10 Employees with Their Current Job Title

In [ ]:
sql2 = """
SELECT e.emp_no, first_name, last_name, title
FROM employees e join titles t on e.emp_no = t.emp_no
where to_date = '9999-01-01'
limit 10
"""

In [ ]:
df2 = pd.read_sql(sql2, con)
df2

   emp_no first_name  last_name            title
0   10001     Georgi    Facello  Senior Engineer
1   10002    Bezalel     Simmel            Staff
2   10003      Parto    Bamford  Senior Engineer
3   10004  Chirstian    Koblick  Senior Engineer
4   10005    Kyoichi   Maliniak     Senior Staff
5   10006     Anneke    Preusig  Senior Engineer
6   10007    Tzvetan  Zielinski     Senior Staff
7   10009     Sumant       Peac  Senior Engineer
8   10010  Duangkaew   Piveteau         Engineer
9   10012   Patricio  Bridgland  Senior Engineer

3. Display a List of 10 Employees with Their Current Department

In [ ]:
sql3 = """
SELECT e.emp_no, first_name, last_name, dept_name
FROM employees e join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
where to_date = '9999-01-01'
limit 10
"""

In [ ]:
df3 = pd.read_sql(sql3, con)
df3

   emp_no first_name    last_name         dept_name
0   10038       Huan        Lortz  Customer Service
1   10049      Basil       Tramer  Customer Service
2   10060   Breannda  Billingsley  Customer Service
3   10088   Jungsoon     Syrzycki  Customer Service
4   10112   Yuichiro        Swick  Customer Service
5   10126     Kayoko     Valtorta  Customer Service
6   10128    Babette        Lamba  Customer Service
7   10137      Maren       Hutton  Customer Service
8   10154    Abdulah    Thibadeau  Customer Service
9   10164     Jagoda    Braunmuhl  Customer Service

4. Employee Distribution by Department: Count of Unique Employees

In [ ]:
sql4 = """
SELECT count(distinct de.emp_no ) as emp_count,  dept_name
FROM dept_emp de join departments d on de.dept_no = d.dept_no
where de.to_date = '9999-01-01'
group by dept_name
order by emp_count desc
"""

In [ ]:
df4 = pd.read_sql(sql4, con)
df4

   emp_count           dept_name
0      61386         Development
1      53304          Production
2      37701               Sales
3      17569    Customer Service
4      15441            Research
5      14842           Marketing
6      14546  Quality Management
7      12898     Human Resources
8      12437             Finance

5. Find the Highest Paid Employee in the Development Department

In [ ]:
sql5 = """
SELECT e.emp_no, first_name, last_name, salary
FROM employees e join salaries s on e.emp_no = s.emp_no
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
where dept_name = 'Development'
order by salary desc
limit 1
"""

In [ ]:
df5 = pd.read_sql(sql5, con)
df5

   emp_no first_name last_name  salary
0   13386    Khosrow    Sgarro  144434

6. Find the Department of the Highest Paid Employee in the Company

In [ ]:
sql6 = """
SELECT e.emp_no, first_name, last_name, salary, dept_name
FROM employees e join salaries s on e.emp_no = s.emp_no
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
order by salary desc
limit 1
"""

Or

In [ ]:
sql6_1 = """
SELECT e.emp_no, first_name, last_name, salary, dept_name
FROM employees e join salaries s on e.emp_no = s.emp_no
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
where salary = (select max(salary) from salaries)
"""

In [ ]:
df6 = pd.read_sql(sql6, con)
df6_1 = pd.read_sql(sql6_1, con)
print(df6)
print(df6_1)

   emp_no first_name last_name  salary dept_name
0   43624   Tokuyasu     Pesch  158220     Sales
   emp_no first_name last_name  salary dept_name
0   43624   Tokuyasu     Pesch  158220     Sales

7. Find the Employee with the Third Highest Salary

In [ ]:
sql7 = """
SELECT e.emp_no, first_name, last_name, salary
FROM employees e join salaries s on e.emp_no = s.emp_no
order by salary desc
limit 2,1
"""

In [ ]:
df7 = pd.read_sql(sql7, con)
df7

   emp_no first_name  last_name  salary
0  254466    Honesty  Mukaidono  156286

8. Find Employees with Multiple Job Titles

In [ ]:
sql8 = """
SELECT e.emp_no, first_name, last_name, GROUP_CONCAT(title) as all_titles
FROM employees e
join titles t on e.emp_no = t.emp_no
group by e.emp_no
having count(distinct title) >1
"""

In [ ]:
df8 = pd.read_sql(sql8, con)
df8

,emp_no,first_name,last_name,all_titles
0,10004,Chirstian,Koblick,"Engineer,Senior Engineer"
1,10005,Kyoichi,Maliniak,"Senior Staff,Staff"
2,10007,Tzvetan,Zielinski,"Senior Staff,Staff"
3,10009,Sumant,Peac,"Assistant Engineer,Engineer,Senior Engineer"
4,10012,Patricio,Bridgland,"Engineer,Senior Engineer"
...,...,...,...,...
140265,499988,Bangqing,Kleiser,"Senior Staff,Staff"
140266,499992,Siamak,Salverda,"Senior Staff,Staff"
140267,499996,Zito,Baaz,"Engineer,Senior Engineer"
140268,499997,Berhard,Lenart,"Engineer,Senior Engineer"
140269,499998,Patricia,Breugel,"Senior Staff,Staff"

9. Find Employees Who Have Worked in Multiple Departments

In [ ]:
sql9 = """
SELECT e.emp_no, first_name, last_name, GROUP_CONCAT(dept_name) as all_dept
FROM employees e
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
group by e.emp_no
having count(distinct dept_name) >1
"""

In [ ]:
df9 = pd.read_sql(sql9, con)
df9

       emp_no    first_name last_name                       all_dept
0       10010     Duangkaew  Piveteau  Quality Management,Production
1       10018      Kazuhide      Peha         Development,Production
2       10029         Otmar    Herbst  Production,Quality Management
3       10040         Weiyi   Meriste           Development,Research
4       10050       Yinghua    Dredge                  Sales,Finance
...       ...           ...       ...                            ...
31574  499955  Kankanahalli    Zucker   Development,Customer Service
31575  499964         Randy    Matzov  Quality Management,Production
31576  499975        Masali   Chorvat        Human Resources,Finance
31577  499983           Uri    Juneja    Customer Service,Production
31578  499992        Siamak  Salverda      Human Resources,Marketing

[31579 rows x 4 columns]

10. Current Salary of Department Managers

In [ ]:
sql10 = """
with manager_salary as (
  select salary, dm.emp_no
  from salaries s
  join dept_manager dm on s.emp_no = dm.emp_no
  where s.to_date = '9999-01-01')
select d.dept_name, e.first_name, e.last_name, ms.salary, ms.emp_no
from manager_salary ms
join employees e on e.emp_no = ms.emp_no
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
"""

In [ ]:
df10 = pd.read_sql(sql10, con)
df10

             dept_name   first_name     last_name  salary  emp_no
0            Marketing    Margareta    Markovitch  108407  110022
1            Marketing     Vishwani      Minakawa  106491  110039
2              Finance         Ebru         Alpin   88443  110085
3              Finance        Isamu    Legleitner   83457  110114
4      Human Resources      Shirish  Ossenbruggen   79229  110183
5      Human Resources      Karsten       Sigstam   65400  110228
6           Production    Krassimir       Wegerle   72583  110303
7           Production       Rosine         Cools   75121  110344
8           Production         Shem        Kieras   66995  110386
9           Production        Oscar      Ghazalie   56654  110420
10         Development     DeForest      Hagimont   72903  110511
11         Development         Leon      DasSarma   74510  110567
12  Quality Management    Peternela       Onuegbe   93193  110725
13  Quality Management       Rutger       Hofmeyr   72432  110765
14  Quality Management       Sanjoy       Quadeer   77626  110800
15  Quality Management         Dung         Pesch   72876  110854
16               Sales  Przemyslawa     Kaelbling   95873  111035
17               Sales        Hauke         Zhang  101987  111133
18            Research         Arie       Staelin  103244  111400
19            Research       Hilary        Kambil   79393  111534
20    Customer Service        Tonny   Butterworth   73953  111692
21    Customer Service        Marjo    Giarratana   58189  111784
22    Customer Service      Xiaobin      Spinelli   71406  111877
23    Customer Service      Yuchang       Weedman   58745  111939

## **Using Window Functions**

1. Using ROW_NUMBER to List First 10 Employees

In [ ]:
sql11 = """
select emp_no, first_name, last_name,
row_number() over (order by emp_no) as num
from employees
limit 10
"""

In [ ]:
df11 = pd.read_sql(sql11, con)
df11

   emp_no first_name  last_name  num
0   10001     Georgi    Facello    1
1   10002    Bezalel     Simmel    2
2   10003      Parto    Bamford    3
3   10004  Chirstian    Koblick    4
4   10005    Kyoichi   Maliniak    5
5   10006     Anneke    Preusig    6
6   10007    Tzvetan  Zielinski    7
7   10008     Saniya   Kalloufi    8
8   10009     Sumant       Peac    9
9   10010  Duangkaew   Piveteau   10

2. Salary History of an Employee (emp_no = 10001)

In [ ]:
sql12 = """
select e.emp_no, s.from_date, salary,
lag(salary) over (order by from_date ) as previous_salary
from employees e join salaries s on e.emp_no = s.emp_no
where e.emp_no = 10001
"""

In [ ]:
df12 = pd.read_sql(sql12, con)
df12

    emp_no   from_date  salary  previous_salary
0    10001  1986-06-26   60117              NaN
1    10001  1987-06-26   62102          60117.0
2    10001  1988-06-25   66074          62102.0
3    10001  1989-06-25   66596          66074.0
4    10001  1990-06-25   66961          66596.0
5    10001  1991-06-25   71046          66961.0
6    10001  1992-06-24   74333          71046.0
7    10001  1993-06-24   75286          74333.0
8    10001  1994-06-24   75994          75286.0
9    10001  1995-06-24   76884          75994.0
10   10001  1996-06-23   80013          76884.0
11   10001  1997-06-23   81025          80013.0
12   10001  1998-06-23   81097          81025.0
13   10001  1999-06-23   84917          81097.0
14   10001  2000-06-22   85112          84917.0
15   10001  2001-06-22   85097          85112.0
16   10001  2002-06-22   88958          85097.0

3. Salary Rank within Department

In [ ]:
sql13 = """
select e.emp_no, dept_name, salary,
rank() over (partition by dept_name order by dept_name ) as salary_rank
from employees e join salaries s on e.emp_no = s.emp_no
join dept_emp de on e.emp_no = de.emp_no
join departments d on de.dept_no = d.dept_no
where de.to_date = '9999-01-01'
"""

In [ ]:
df13 = pd.read_sql(sql13, con)
df13

         emp_no         dept_name  salary  salary_rank
0        499851  Customer Service   44139            1
1        499991  Customer Service   45367            1
2        499991  Customer Service   46690            1
3        499991  Customer Service   49080            1
4        499991  Customer Service   49361            1
...         ...               ...     ...          ...
2524732   10299             Sales   93012            1
2524733   10299             Sales   96431            1
2524734   10299             Sales   96605            1
2524735   10299             Sales   98711            1
2524736   10107             Sales  101676            1

[2524737 rows x 4 columns]

4. Salary Change Over the Last 2 Years for emp_no = 10001

In [ ]:
sql14 = """
select e.emp_no, s.to_date, salary,
lag(salary, 2) over (order by to_date) as salary_2_years_ago, (salary - (lag(salary, 2) over (order by to_date))) as differance
from employees e join salaries s on e.emp_no = s.emp_no
where e.emp_no = 10001
order by to_date desc
limit 1
"""

In [ ]:
df14 = pd.read_sql(sql14, con)
df14

   emp_no     to_date  salary  salary_2_years_ago  differance
0   10001  9999-01-01   88958               85112        3846

5. Determining the Highest Salary Increase

In [ ]:
sql15 = """
with max_date as (
  select max(from_date) as last_date,
          emp_no
  from salaries
  group by emp_no),
difference_salaries as(
  select s.emp_no,
        salary,
        lag(salary) over (partition by s.emp_no order by from_date) as salary_year_ago,
        (salary - lag(salary) over (partition by s.emp_no order by from_date)) as diff_salary
  from salaries s
  join max_date md on s.emp_no = md.emp_no
  where from_date <= last_date and from_date >= DATE_SUB(last_date, INTERVAL 1 YEAR))
select emp_no,
        salary_year_ago,
        salary,
        diff_salary
from difference_salaries
where diff_salary = (select max(diff_salary) from difference_salaries)
"""

I am using last_date, which is the most recent date in each employee's salary history. This is used to select records within the last year for each employee individually

In [ ]:
df15 = pd.read_sql(sql15, con)
df15

    emp_no  salary_year_ago  salary  diff_salary
0    10559            95233   99733         4500
1    30834           108121  112621         4500
2   100954            95423   99923         4500
3   109253            56460   60960         4500
4   223165            85440   89940         4500
5   223743            58367   62867         4500
6   227254            64668   69168         4500
7   230014            89980   94480         4500
8   240927            68601   73101         4500
9   269862            68726   73226         4500
10  271036            67447   71947         4500
11  290217            69022   73522         4500
12  404660            56897   61397         4500
13  406105            61316   65816         4500
14  416088            63061   67561         4500
15  423723            54155   58655         4500
16  434834            62624   67124         4500
17  440546            41421   45921         4500
18  442687            72254   76754         4500
19  457585            55562   60062         4500
20  461896           114106  118606         4500
21  476493            94666   99166         4500
22  485159            65771   70271         4500

I select all records where the salary date is within the last year from the overall maximum date in the entire table, rather than for each employee individually

In [ ]:
sql15_1 = """
with max_date as (
  select max(from_date) as last_date
  from salaries),
year_before as (
    select DATE_SUB((select max(from_date) from salaries), INTERVAL 1 YEAR) as last_year_date),
difference_salaries as (
  select s.emp_no,
        salary,
        lag(salary) over (partition by s.emp_no order by from_date) as salary_year_ago,
        (salary - lag(salary) over (partition by s.emp_no order by from_date)) as diff_salary
  from salaries s
    CROSS JOIN year_before
    where s.from_date <= (select last_date FROM max_date)
    and s.from_date >= (select last_year_date FROM year_before)
)

select emp_no,
      salary_year_ago,
      salary,
      diff_salary
from difference_salaries
where diff_salary = (select max(diff_salary) from difference_salaries)

"""

In [ ]:
df15_1 = pd.read_sql(sql15_1, con)
df15_1

   emp_no  salary_year_ago  salary  diff_salary
0  240126            54522   59021         4499

 6. Average Salary and First Hired Employee for Each Job Title

In [ ]:
sql16 = """
with first_hire as (
  select first_name,
           last_name,
           title,
           e.hire_date,
           e.emp_no,
  FIRST_VALUE(hire_date) over (partition by title order by hire_date) as first_hire_date
  from employees e
  join titles t on e.emp_no = t.emp_no),
avg_salary as(
  select title,
        avg(salary) as average_salary
  from employees e
  join titles t on e.emp_no = t.emp_no
  join salaries s on e.emp_no = s.emp_no
  group by title
)
select fh.first_name,
       fh.last_name,
       fh.title,
       fh.first_hire_date,
       avs.average_salary
from first_hire fh
join avg_salary avs on fh.title = avs.title
where fh.hire_date = fh.first_hire_date
order by fh.title, fh.first_name, fh.last_name
"""

Result for all employees:

In [ ]:
df16 = pd.read_sql(sql16, con)
df16

,first_name,last_name,title,first_hire_date,average_salary
0,Taizo,Orsini,Assistant Engineer,1985-02-01,59304.9863
1,Arvin,Birdsall,Engineer,1985-02-01,59508.0397
2,Divier,Marrakchi,Engineer,1985-02-01,59508.0397
3,Gian,Rothe,Engineer,1985-02-01,59508.0397
4,Kannan,Mahnke,Engineer,1985-02-01,59508.0397
5,Mona,Beutelspacher,Engineer,1985-02-01,59508.0397
6,Poorav,Gecsei,Engineer,1985-02-01,59508.0397
7,Taizo,Orsini,Engineer,1985-02-01,59508.0397
8,Zdislav,Ferriere,Engineer,1985-02-01,59508.0397
9,Arie,Staelin,Manager,1985-01-01,66924.2706
10,DeForest,Hagimont,Manager,1985-01-01,66924.2706
11,Ebru,Alpin,Manager,1985-01-01,66924.2706
12,Krassimir,Wegerle,Manager,1985-01-01,66924.2706
13,Margareta,Markovitch,Manager,1985-01-01,66924.2706
14,Peternela,Onuegbe,Manager,1985-01-01,66924.2706
15,Przemyslawa,Kaelbling,Manager,1985-01-01,66924.2706
16,Shirish,Ossenbruggen,Manager,1985-01-01,66924.2706
17,Tonny,Butterworth,Manager,1985-01-01,66924.2706
18,Arvin,Birdsall,Senior Engineer,1985-02-01,60543.2191
19,Divier,Marrakchi,Senior Engineer,1985-02-01,60543.2191
20,Gian,Rothe,Senior Engineer,1985-02-01,60543.2191
21,Jayesh,Minakawa,Senior Engineer,1985-02-01,60543.2191
22,Kannan,Mahnke,Senior Engineer,1985-02-01,60543.2191
23,Mona,Beutelspacher,Senior Engineer,1985-02-01,60543.2191
24,Poorav,Gecsei,Senior Engineer,1985-02-01,60543.2191
25,Zdislav,Ferriere,Senior Engineer,1985-02-01,60543.2191
26,Ebru,Alpin,Senior Staff,1985-01-01,70470.8353
27,Margareta,Markovitch,Senior Staff,1985-01-01,70470.8353
28,Arie,Staelin,Staff,1985-01-01,69309.1023
29,Przemyslawa,Kaelbling,Staff,1985-01-01,69309.1023
30,Shirish,Ossenbruggen,Staff,1985-01-01,69309.1023
31,Tonny,Butterworth,Staff,1985-01-01,69309.1023
32,DeForest,Hagimont,Technique Leader,1985-01-01,59294.3742
33,Krassimir,Wegerle,Technique Leader,1985-01-01,59294.3742
34,Peternela,Onuegbe,Technique Leader,1985-01-01,59294.3742

Result for employees who are still employed:

In [ ]:
sql16_1 = """
with first_hire as (
  select first_name,
           last_name,
           title,
           e.hire_date,
           e.emp_no,
  FIRST_VALUE(hire_date) over (partition by title order by hire_date) as first_hire_date
  from employees e
  join titles t on e.emp_no = t.emp_no
  where t.to_date = '9999-01-01'),
avg_salary as(
  select title,
        avg(salary) as average_salary
  from employees e
  join titles t on e.emp_no = t.emp_no
  join salaries s on e.emp_no = s.emp_no
  where t.to_date = '9999-01-01'
  group by title)
select fh.first_name,
       fh.last_name,
       fh.title,
       fh.first_hire_date,
       avs.average_salary
from first_hire fh
join avg_salary avs on fh.title = avs.title
where fh.hire_date = fh.first_hire_date
order by fh.title, fh.first_name, fh.last_name
"""

In [ ]:
df16_1 = pd.read_sql(sql16_1, con)
df16_1

,first_name,last_name,title,first_hire_date,average_salary
0,Arco,Poehlman,Assistant Engineer,1985-02-02,53386.2356
1,Selwyn,Demke,Assistant Engineer,1985-02-02,53386.2356
2,Taizo,Orsini,Engineer,1985-02-01,55372.2056
3,Isamu,Legleitner,Manager,1985-01-14,64969.2446
4,Arvin,Birdsall,Senior Engineer,1985-02-01,60811.9054
5,Gian,Rothe,Senior Engineer,1985-02-01,60811.9054
6,Jayesh,Minakawa,Senior Engineer,1985-02-01,60811.9054
7,Kannan,Mahnke,Senior Engineer,1985-02-01,60811.9054
8,Mona,Beutelspacher,Senior Engineer,1985-02-01,60811.9054
9,Poorav,Gecsei,Senior Engineer,1985-02-01,60811.9054
10,Zdislav,Ferriere,Senior Engineer,1985-02-01,60811.9054
11,Ebru,Alpin,Senior Staff,1985-01-01,70720.3089
12,Margareta,Markovitch,Senior Staff,1985-01-01,70720.3089
13,Arie,Staelin,Staff,1985-01-01,63346.2563
14,Przemyslawa,Kaelbling,Staff,1985-01-01,63346.2563
15,Shirish,Ossenbruggen,Staff,1985-01-01,63346.2563
16,Tonny,Butterworth,Staff,1985-01-01,63346.2563
17,DeForest,Hagimont,Technique Leader,1985-01-01,59744.0749
18,Krassimir,Wegerle,Technique Leader,1985-01-01,59744.0749
19,Peternela,Onuegbe,Technique Leader,1985-01-01,59744.0749

7. Using NTILE to Group Employees by Current Salary
    
    `emp_no` : `419748, 496734, 264134, 209076, 86631, 456171, 16887, 230255, 246465, 420097, 44362, 280370, 479975, 433320, 473949`

In [ ]:
sql17 = """
with filtered_table as (
  select e.emp_no,
      first_name,
      last_name,
      salary
  from employees e
  join salaries s on e.emp_no = s.emp_no
  where e.emp_no in (419748, 496734, 264134, 209076, 86631, 456171, 16887, 230255, 246465, 420097, 44362, 280370, 479975, 433320, 473949)
  and s.to_date = '9999-01-01'
  order by salary desc)
select emp_no,
      first_name,
      last_name,
      salary,
      NTILE(3) over (order by salary desc) as salary_group
from filtered_table
"""

In [ ]:
df17 = pd.read_sql(sql17, con)
df17

    emp_no first_name last_name  salary  salary_group
0   419748    Jixiang   Rindone  140784             1
1   496734   Dayanand    Morrey  136130             1
2   264134     Reuven    Uludag  134570             1
3   209076       Moon     Uhrik  133712             1
4    86631    Tristan     Isaac  133038             1
5   456171     Xuejun  Papsdorf  130010             2
6    16887   Bernardo  Sinitsyn  129036             2
7   230255      Ennio     Lorcy  128018             2
8   246465    Apostol    Leuchs  127924             2
9   420097      Aimee   Stifter  126885             2
10   44362     Manton     Kitai  126640             3
11  280370     Mayuko     Vesel  126629             3
12  479975   Kazuhiro      Pews  126163             3
13  433320    Gunilla  Takkinen  125600             3
14  473949    Pantung     Picht  124950             3

In [ ]:
sql17_1 = """
select e.emp_no,
      first_name,
      last_name,
      salary,
      NTILE(3) over (order by salary desc) as salary_group
from employees e
join salaries s on e.emp_no = s.emp_no
where e.emp_no in (419748, 496734, 264134, 209076, 86631, 456171, 16887, 230255, 246465, 420097, 44362, 280370, 479975, 433320, 473949)
and s.to_date = '9999-01-01'
"""

In [ ]:
df17_1 = pd.read_sql(sql17_1, con)
df17_1

    emp_no first_name last_name  salary  salary_group
0   419748    Jixiang   Rindone  140784             1
1   496734   Dayanand    Morrey  136130             1
2   264134     Reuven    Uludag  134570             1
3   209076       Moon     Uhrik  133712             1
4    86631    Tristan     Isaac  133038             1
5   456171     Xuejun  Papsdorf  130010             2
6    16887   Bernardo  Sinitsyn  129036             2
7   230255      Ennio     Lorcy  128018             2
8   246465    Apostol    Leuchs  127924             2
9   420097      Aimee   Stifter  126885             2
10   44362     Manton     Kitai  126640             3
11  280370     Mayuko     Vesel  126629             3
12  479975   Kazuhiro      Pews  126163             3
13  433320    Gunilla  Takkinen  125600             3
14  473949    Pantung     Picht  124950             3